
.right
  .right__header
    .right__header__name
      .right__header__name__member
        member kun
    .right__header__edit
      = link_to "Edit", "#", class: "right__header__edit--link"
  .right__main
    = render partial: 'message', collection: @messages

  -# .right__form
  -#   .right__form__input
  -#     %form.right__form__input--text{action: "/", method: "post"}
  -#       %input.right__form__input--input{placeholder: 'new message'}
  -#       %label.right__form__input--label
  -#         = icon('fas', 'image')
  -#         %input.right__form__input--file{type: "file"}
  -#   %input.right__form__input--submit{type: "submit", value: "Send"}

  .right__form
    .right__form__input
      = form_for [@group, @message], html: {class: 'right__form__input--form'} do |f|
        = f.text_field :content, class: "right__form__input--input", placeholder: "type a message"
        = f.label :image, class: "right__form__input--label" do
          = icon('fas', 'image')
          = f.file_field :image, class: "right__form__input--file"
        = f.submit "Send", class: "right__form__input--submit"