
.right
  .right__header
    .right__header__name
      = @group.name
      .right__header__name__member
        - member = ' '
        - @group.users.each do |user|
          - member += 'Member: ' + user.name
        %p #{member}
    .right__header__edit
      = link_to "Edit", edit_group_path(params[:group_id]), class: "right__header__edit--link"

  .right__main
    = render partial: 'message', collection: @messages

  .right__form
    .right__form__input
      = form_for [@group, @message], html: {class: 'right__form__input--form'} do |f|
        = f.text_field :content, class: "right__form__input--input", placeholder: "type a message"
        = f.label :image, class: "right__form__input--label" do
          = icon('fas', 'image')
          = f.file_field :image, class: "right__form__input--file"
        = f.submit "Send", class: "right__form__input--submit"