.left
  .left__header
    .left__header__name
      %p.left__header__name
        = current_user.name
      %ul.left__header__name__ul
        %li.left__header__name__ul__li
          = link_to new_group_path, class: "left__header__name__ul__li--icon" do
            = icon('far', 'far fa-edit')
        %li.left__header__name__ul__li
          = link_to edit_user_path(current_user), class: "left__header__name__ul__li--icon" do
            = icon('fas', ' fas fa-cog')
  .left__side
    .left__side__box
      .left__side__box__name
        group-name
      .left__side__box__message
        new messages
      
